{% extends "main/master/base.html" %} {% block content %}
<section class="section-conten padding-y bg">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <ul class="list-group">
          <a class="list-group-item" href="/accounts/dashboard/"> Dashboard </a>
          <a class="list-group-item" href="/accounts/my-products/">
            My Products
          </a>
          <a class="list-group-item" href="/accounts/add-product/">
            Add Product
          </a>

          <a class="list-group-item" href="/accounts/my-orders/"> My Orders </a>
          <a class="list-group-item" href="/accounts/my-sales/"> My Sales </a>
          <a class="list-group-item" href="/accounts/my-requests-sent/">
            My Sent Requests
          </a>
          <a class="list-group-item" href="/accounts/my-requests-received/">
            My Received Requests
          </a>
          <a class="list-group-item" href="/accounts/messages/inbox/">
            Messages
          </a>

          <a class="list-group-item" href="/accounts/messages/sent/"> Sent </a>

          <a class="list-group-item active" href="/accounts/edit-profile/">
            Edit Profile
          </a>

          <a class="list-group-item" href="/accounts/change-password/">
            Change Password
          </a>
        </ul>
        <br />
        <a class="btn btn-light btn-block" href="/accounts/logout/">
          <i class="fa fa-power-off"></i> <span class="text">Log out</span>
        </a>
      </aside>

      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Edit your profile</strong>
          </header>
          <div class="card-body">
            <div class="text-right">
              <img
                src="/static/images/default/default-user.png"
                alt="Profile Picture"
                class="profile-img"
              />
            </div>
            <div class="row">
              <div class="col-md-12">
                <form
                  action="/accounts/edit-profile/"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <input
                    type="hidden"
                    name="csrfmiddlewaretoken"
                    value="nUMyukcDQcATJPhwOr82hZ4j8FUV4ESuPu72s9u5L0N8ET0vj9j5YsLDesQ7Nknf"
                  />
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="id_first_name">First name:</label>
                      <input
                        type="text"
                        name="first_name"
                        value="Prasim"
                        maxlength="500"
                        class="form-control"
                        required
                        id="id_first_name"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="id_last_name">Last name:</label>
                      <input
                        type="text"
                        name="last_name"
                        value="Basnet"
                        maxlength="500"
                        class="form-control"
                        required
                        id="id_last_name"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="id_email">Email:</label>
                      <input
                        type="email"
                        name="email"
                        value="prasimbasnet@gmail.com"
                        maxlength="100"
                        class="form-control"
                        required
                        id="id_email"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="id_phone_number">Phone number:</label>
                      <input
                        type="text"
                        name="phone_number"
                        value="9741688808"
                        maxlength="50"
                        class="form-control"
                        required
                        id="id_phone_number"
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="id_gender">Gender:</label>
                      <select name="gender" class="form-control" id="id_gender">
                        <option value="" selected>---------</option>

                        <option value="M">Male</option>

                        <option value="F">Female</option>

                        <option value="O">Other</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="id_profile_picture">Profile picture:</label>
                      <input
                        type="file"
                        name="profile_picture"
                        class="form-control"
                        accept="image/*"
                        id="id_profile_picture"
                      />
                    </div>
                    <div class="form-group col-md-4">
                      <label for="id_payment_qr">Payment qr:</label>
                      <input
                        type="file"
                        name="payment_qr"
                        class="form-control"
                        accept="image/*"
                        id="id_payment_qr"
                      />
                    </div>
                  </div>
                  <input type="submit" value="Save" class="btn btn-primary" />
                </form>
              </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
