{% extends "main/master/base.html" %} {% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <h4 class="text-center mb-10">Review Your Order and Make Payment</h4>
    <div class="row">
      <aside class="col-lg-8">
        <div class="card">
          <h5 class="card-header">Billing Address</h5>
          <div class="card-body">
            <p class="card-text mb-0">Prasim Basnet</p>
            <p class="card-text mb-0">Pasikot,Budhanilkantha</p>
            <p class="card-text mb-0">Kathmandu</p>
            <p class="card-text mb-0">Nepal</p>
            <p class="card-text mb-0">prasimbasnet@gmail.com</p>
            <p class="card-text mb-0">9741688808</p>
          </div>
        </div>

        <div class="card">
          <h5 class="card-header">Payment Methods</h5>
          <div class="card-body">
            <p class="card-text mb-2">
              <strong>eSewa</strong> <br />
              <small class="text-muted"
                >Pay securely using your eSewa account.</small
              >
            </p>
            <p class="card-text mb-0">
              <strong>Cash on Delivery</strong> <br />
              <small class="text-muted"
                >Pay when your order is delivered.</small
              >
            </p>
          </div>
        </div>

        <div class="card">
          <h5 class="card-header">Review Product</h5>
          <div class="card-body">
            <table class="table table-borderless table-shopping-cart">
              <thead class="text-muted">
                <tr class="small text-uppercase">
                  <th scope="col">Product</th>
                  <th scope="col" width="120">Quantity</th>
                  <th scope="col" width="120">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <figure class="itemside align-items-center">
                      <div class="aside">
                        <img
                          src="/media/photos/products/jackets_u9PAWlb.jpeg"
                          class="img-sm"
                        />
                      </div>
                      <figcaption class="info">
                        <a
                          href="/store/category/jackets/classic-denim-jacket/"
                          class="title text-dark"
                        >
                          Classic Denim Jacket
                        </a>

                        <p class="text-muted small"></p>
                      </figcaption>
                    </figure>
                  </td>
                  <td>
                    <label> 1 </label>
                  </td>
                  <td>
                    <div class="price-wrap">
                      <var class="price">Rs. 400</var>
                      <small class="text-muted"> Rs. 400 each </small>
                    </div>
                    <!-- price-wrap .// -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <aside class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">Rs. 400</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tax:</dt>
              <dd class="text-right">Rs. 8.0</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Grand Total:</dt>
              <dd class="text-right text-dark b">
                <strong>Rs. 408.0</strong>
              </dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <img src="/static/images/misc/payments.png" height="26" />
            </p>
            <!-- eSewa -->
            <form method="post" action="/orders/esewa/start/28/" class="mb-2">
              <input
                type="hidden"
                name="csrfmiddlewaretoken"
                value="3fBMhZPm62f4aosi7ExKHkIyfkTsXHPjPaAtRTr3BZmanD37cAkUIVD0koQtBBcF"
              />
              <button type="submit" class="btn btn-primary btn-block">
                Pay with eSewa
              </button>
            </form>
            <!-- Cash on Delivery -->
            <form method="post" action="/orders/cod/28/">
              <input
                type="hidden"
                name="csrfmiddlewaretoken"
                value="3fBMhZPm62f4aosi7ExKHkIyfkTsXHPjPaAtRTr3BZmanD37cAkUIVD0koQtBBcF"
              />
              <button type="submit" class="btn btn-outline-primary btn-block">
                Place Order - Cash on Delivery
              </button>
            </form>
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
  </div>
  <!-- container .//  -->
</section>

<!-- ========================= FOOTER ========================= -->
