{% extends 'design/master/base1.html' %}
{% block content %}
{% load static %}
<h2>Featured Products</h2>
<ul>
  {% for product in products %}
    <li><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a> – Rs. {{ product.price }}</li>
    {% if product.product_image %}
        <a href="{% url 'product_detail' product.pk %}"> <img src="{{ product.product_image.url }}" class="card-img-top"  style="max-width: 200px;" alt="{{ product.name }}"></a>
        {% else %}
        <img src="{% static 'images/default_product.jpg' %}" class="card-img-top" alt="Default Product Image">
      {% endif %}
    {% empty %}
    <li>No products yet.</li>
  {% endfor %}
</ul>

<h2>Latest Blogs</h2>
<ul>
  {% for blog in blogs %}
    <li><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></li>
    {% if product.product_image %}
        <a href="{% url 'blog_detail' blog.pk %}"> <img src="{{ product.product_image.url }}" class="card-img-top"  style="max-width: 200px;"alt="{{ product.name }}"></a>
        {% else %}
        <img src="{% static 'images/default_product.jpg' %}" class="card-img-top" alt="Default blog Image">
      {% endif %}
    {% empty %}
    <li>No blog posts yet.</li>
  {% endfor %}
</ul>
{% endblock %}
